<%- include('../common/header.ejs')%>
<div class="container">
  <h1 class="text-center">
    <%= article.title%> 
    <%if(isLogin && article.author_id==user.id){%>
        <a class="btn btn-success pull-right" href="/articles/edit/<%= article.id%>">编辑</a>
    <%}%>
    <hr />
  </h1>
  <div><%- article.content%></div>
</div>
<%- include('../common/footer.ejs')%>
